anyconfig==0.14.0
Biopython==1.84
cobra==0.29.0
docplex==2.28.240
gurobipy==11.0.3
importlib_resources==6.4.0
ipython==8.26.0
jsonschema==4.23.0
numpy==2.1.2
openpyxl==3.1.5
optlang==1.8.1
pandas==2.2.3
pint==0.24.4
pyranges==0.1.1
pytest==8.3.4
python-libsbml==5.20.2
PyYAML==6.0.1
scipy==1.14.0
sympy==1.12.1
tqdm==4.66.4
versioneer==0.29
xlsxwriter==3.2.0
setuptools
