name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install NCBI BLAST+
        run: |
          sudo apt-get update
          sudo apt-get install -y ncbi-blast+
      - name: Install dependencies
        run: |
          sudo apt-get install -y cmake swig gfortran libgfortran5 libglpk-dev
      - name: Install coralME
        run: |
          pip install --quiet --editable .
      - name: Run pytest
        run: |
          pytest
